body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4EF; /* Neutral color as background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 600px;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
